
.footer-sections {
  list-style: none;
  border-top: solid 2px gainsboro;
}

.footer-icon,
.footer-social-icon,
.footer-social-icons-section,
.footer-app-icon,
.footer-app-section {
  list-style: none;
  justify-content: center;
  margin:2px;
}

.footer-sections {
  padding: 3px;
  display: flex;

  justify-content: space-around;
  align-items: center;
  /* justify-content: center; */
}

.footer-social-icons-section,
.footer-app-section {
  display: flex;
  flex-direction: row;
}

.footer-social-icon,
.footer-app-icon {
  /* padding: 0px 4px; */
}

.footer-icon-foommy,
.footer-social-icon,
.footer-app-icon {
  max-width: 2.8rem;
}

.footer-text {
  font-size: 0.7rem;
}
