<section class="footer">
  <ul class="footer-sections">
    <li>
      <img src="../../assets/images/icon-foommy.png" alt="foommy-icon" class="footer-icon-foommy">
    </li>
    <li class="footer-icon">
      <ul class="footer-social-icons-section">
        <li class="footer-social-icon">
         <div class="footer-text">
           Like Us
         </div>
        </li>
        <li>
          <img src="../../assets/images/icon-facebook.png" alt="facebook-icon" class="footer-social-icon">
        </li>
        <li class="footer-social-icon">
          <img src="../../assets/images/icon-instragram.png" alt="instagram-icon" class="footer-social-icon">
        </li>
        <li class="footer-social-icon">
          <img src="../../assets/images/icon-twitter.png" alt="twitter-icon" class="footer-social-icon">
        </li>
      </ul>
    </li>
    <li class="footer-icon">
      <ul class="footer-app-section">
        <li class="footer-app-icon">
          <div class="footer-text">
            Get Our App
          </div>
                 </li>
        <li>
          <img src="../../assets/images/icon-appstore.png" alt="appstore-icon" class="footer-app-icon">
        </li>
        <li>
          <img src="../../assets/images/icon-appstore.png" alt="appstore-icon" class="footer-app-icon">
        </li>
      </ul>
    </li>
  </ul>
</section>
