.non-logged-chef-details-section{
  /* margin:3rem; */
  padding:1rem;
  /* border:solid 1px black; */
  background-color: #fdd;
}

.chef-image-icon{
  border-radius: 40%;
  border:black;
}

.chef-details-header-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

.about-kitchen-section{
  padding:2.5rem;
}

.chef-text-content{
  margin:4rem;
  font-style: italic;
}
