<!-- <p>{{tempchefInfo | json}}</p> -->
<section class="non-logged-chef-details-section">
  <div class="p-grid">
    <div class="p-sm-12 p-md-6">
      <img src={{tempChefInfo.image}} class="chef-image-icon global-image-responsive" alt="chefimage">
    </div>
    <div class=" p-sm-12 p-md-6 chef-details-header-info">
      <div class="global-title-text">
        {{tempChefInfo.chefName}}
      </div>
      <div>
        <i class="fas fa-concierge-bell"></i>
        <span *ngFor="let diningOptions of tempChefInfo.diningOptions">
          -
          {{diningOptions}}
        </span>
      </div>
      <div>
        <i class="fas fa-money-bill-wave"></i>
        <span *ngFor="let payment of tempChefInfo.paymentMethod">
          {{payment}}
        </span>
      </div>
    </div>
  </div>

  <div class="p-grid about-kitchen-section">
    <div class="p-col global-subtitle-text ">
      {{tempChefInfo.aboutKitchen}}
    </div>
  </div>
  <div class="p-col global-subtitle-text">
    Dishes:
    <div class="chef-text-content">
      <p>
        {{tempDishInfo|json}}
      </p>
      <img src="http://www.bestplaces.net/images/city/0680854_CA_Tustin.png" class="global-image-responsive" style="max-width: 50vh"
        alt="tustin map">
    </div>
  </div>

  <hr class="global-divider">
  <div class="p-grid location-section">
    <div class="p-col global-subtitle-text">
      Location:
      <div class="chef-text-content">
        <p>
          {{tempChefInfo.city}}, {{tempChefInfo.state}}
        </p>
        <img src="http://www.bestplaces.net/images/city/0680854_CA_Tustin.png" class="global-image-responsive" style="max-width: 50vh"
          alt="tustin map">
      </div>
    </div>
  </div>
  <hr class="global-divider">
  <div class="p-grid how-to-get-there-section">
    <div class="p-col global-subtitle-text ">
      How to get there:
      <div class="chef-text-content">
        <p>
          {{tempChefInfo.howToGetThere}}
        </p>
      </div>
    </div>
  </div>
  <hr class="global-divider">
  <div class="p-grid hours-section">
    <div class="p-col global-subtitle-text ">
      Hours:
      <div class="chef-text-content">
        <p>
          {{tempChefInfo.availability}}
        </p>
      </div>
    </div>
  </div>
  <hr class="global-divider">
  <div class="p-grid dining-area-section">
    <div class="p-col global-subtitle-text ">
      The Dining Area:
      <div class="chef-text-content">
        <p>
          {{tempChefInfo.theDiningArea}}
        </p>
      </div>
    </div>
  </div>
  <hr class="global-divider">
  <div class="p-grid dining-area-section">
    <div class="p-col global-subtitle-text ">
      Seating Capacity:
      <div class="chef-text-content">
        <p>
          {{tempChefInfo.seatingCapacity}}
        </p>
      </div>
    </div>
  </div>
  <hr class="global-divider">
  <div class="p-grid dining-area-section">
    <div class="p-col global-subtitle-text ">
      Prep Time:
      <div class="chef-text-content">
        <p>
          {{tempChefInfo.prepTime}}
        </p>
      </div>
    </div>
  </div>
  <hr class="global-divider">
  <div class="p-grid additional-info-section">
    <div class="p-col global-subtitle-text ">
      Additional Info:
      <div class="chef-text-content">
        <p>
          {{tempChefInfo.additionalInfo}}
        </p>
      </div>
    </div>
  </div>
</section>
