<section class="become-a-chef-section">
  <div class="become-a-chef-subsection">
    <div class="p-grid">
      <div class="p-md-10">
        <div class="global-title-text">
          <div>Sharing is Caring!</div>
        </div>
      </div>
      <div class="p-md-2 global-align">
        <button pButton type="button" class="ui-button-rounded ui-button-danger feedback-button"
          label="Get started"></button>
      </div>

    </div>
    <div class="global-subtitle-text become-a-chef-titletext">
      Join us, start sharing home cooked food with your local community!
    </div>
    <img src="../../assets/images/becomeachef1.png" class="global-image-responsive become-chef-img" alt="becomeachef1">
    <div class="global-subtitle-text become-a-chef-titletext">
      Who doesn't love cooking?
    </div>

    <div class="p-grid">
      <div class="p-md-9">
        <img src="../../assets/images/becomeachef2.png" class="global-image-responsive become-chef-img " alt="becomeachef2">
      </div>
      <div class="p-md-3 global-align become-a-chef-subtext">
        Cooking is art, a wonderful combination of fresh vegetables, protein, seasoning...
      </div>

      <div class="p-md-3 global-align become-a-chef-subtext">
        Cooking is meditation, a deep connection between our inner world and everything in the kitchen...
      </div>
      <div class="p-md-9">
        <img src="../../assets/images/becomeachef3.png" class="global-image-responsive become-chef-img" alt="becomeachef3">
      </div>

      <div class="p-md-9">
        <img src="../../assets/images/becomeachef4.png" class="global-image-responsive become-chef-img" alt="becomeachef4">
      </div>
      <div class="p-md-3 global-align become-a-chef-subtext">
        Cooking is an expression of love, the way we care for ingredients...from the spices, to the kitchenware is the
        way we show our love and compassion...
      </div>
    </div>
  </div>
</section>
