.foommies-section{
  /* background-color: #f5efef; */
  padding:1.5em;

}

.foommy-card{
  padding:.6rem;
  box-shadow: 2px 2px 10px 0px #f5efef;
}

.about-kitchen{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:1rem;
}
