<section class="foommies-section">

  <!-- Test section ------ -->
  <!-- <p>foommies-signed-on works!</p>
<div *ngFor="let x of testFB">
  <p>From firestore ---  {{x.test}}</p>
  <i class="fas fa-fish"></i>
  <i class="fas fa-frog"></i>
  <i class="fas fa-user-ninja vanished"></i>
  <i class="fab fa-facebook"></i>
</div> -->

  <!-- {{foommies|json}} -->

  <div class="global-title-text global-center">Foommies near you - Jeannie this is from Firebase now</div>
    <div class="p-grid">
    <div class="p-sm-6 p-md-4" *ngFor="let chef of chefs">
      <p-card header={{chef.chefName}} styleClass="ui-card-shadow" id={{chef.id}}
         [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="clickFoommyCard(chef.id)"><p-header>
          <img src="Card" src={{chef.foommyImage}} class="global-responsive-img foommy-card">
        </p-header>
        <div>{{chef.city}}, {{chef.state}}</div>
        <div>{{chef.availability}}</div>
        <div class="about-kitchen">{{chef.aboutKitchen}}</div>
      </p-card>
    </div>
  </div>
</section>
