.global-title-text{
  font-family: "Nunito", sans-serif;
  font-size: 2.4rem;
  color:#773f31;
  font-weight: bolder;
}

.global-subtitle-text{
  font-family: 'Lato', sans-serif;
  color:#423e3d;
  font-size: 1.8rem;
  font-weight: bolder;
}

.global-center{
  display:flex;
  justify-content: center;
}

.global-align{
  display: flex;
  align-items: center;
}

.global-image-responsive {
  width: 100%;
  height: auto;
}

.blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}


