<div class="section-dish-details">
 <div class="p-grid">
   <div class="p-md-1"></div>
   <div class="p-md-5 left-section p-align-center">
     <!-- {{tempChef|json}} -->
     <!-- {{tempDish|json}} -->
     <div class="global-subtitle-text dish-title">
       {{dishInfo$.dishName}}
      </div>
      <div class="wrapper-dish-info">
        <div class="p-grid">
          <div class="dish-info p-col-8">
            <div>
              <i class="fas fa-utensils"> Dish Type: </i>
              <span class="small pl-1">{{dishInfo$.dishType}}</span>
            </div>
            <div>
              <i class="fas fa-utensils"> Cuisine: </i>
              <span class="small pl-1">{{dishInfo$.cuisineType}}</span>
            </div>
            <div>
              <i class="fas fa-utensils"> Allergens: </i>
              <span class="small pl-1">{{dishInfo$.allergens}}</span>
            </div>
          </div>
          <div class="dish-chef-info p-col-4">
            <img [src]="chefInfo$.foommyImage" alt="chefimage" class="global-image-responsive" style="border-radius: 100%; height:60px; width:auto">
            <p class="small">{{chefInfo$.chefName}}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="global-subtitle-text main-ingredients-title">
        Main Ingredients
      </div>
      <div *ngFor="let ingredient of dishInfo$.ingredients" class="ingredients">

        <div>{{ingredient}}</div>
       </div>
    </div>
    <div class="p-md-5 right-section p-align-center">
      <div class="p-grid">
        <div class="p-col-12">
          <img [src]="dishInfo$.dishImage" alt="dishimage" class="global-image-responsive  dish-image">
        </div>
        <div class="p-col-12">
          <p class="dish-description">
            {{dishInfo$.dishDescription}}
          </p>
        </div>
      </div>
    </div>
    <div class="p-md-1"></div>
  </div>

