.whyfoommy-section {
  background-color: #fdd;
  padding: 3rem;
}

.whyfoommy-subsection {
  padding: 1rem;
}

@media only screen and (max-width: 970px) {
  .whyfoommy-section {
    /* background-color: lightblue; */
    padding: 0.5rem;
  }
}
