<section class="whyfoommy-section">
  <div class="global-title-text">
    Why Foommy?
  </div>
  <div class="p-grid whyfoommy-subsection">
    <div class="p-md-7">
      <img src="../../assets/images/whyfoommy1.png" alt="whyfoomy1" class="global-image-responsive ">
    </div>
    <div class="p-md-5 global-align global-subtitle-text">
      Foommy is a food sharing network in connecting people who love cooking and appreciate homemade food from all
      over the world
    </div>
  </div>

  <div class="p-grid whyfoommy-subsection">
    <div class="p-md-7 order-md-last">
      <img src="../../assets/images/whyfoommy2.png" alt="whyfoomy2" class="global-image-responsive ">
    </div>
    <div class="p-md-5 global-align global-subtitle-text order-md-first">
      One of Foommy's aims is to reduce food waste. How much food have you thrown in the trash can lately?
    </div>
  </div>

  <div class="p-grid whyfoommy-subsection">
    <div class="p-md-6">
      <img src="../../assets/images/whyfoommy3.png" alt="whyfoomy3" class="global-image-responsive ">
    </div>
    <div class="p-md-6 global-subtitle-text">
      <div>
        Foommy is an innovation in changing the way people consume food. The more you share, the less you spend
      </div>

      <blockquote class="blockquote">
        "The average household in the United States spends an average of $3008 per year on dining out!"
        <br>
        <br>
        Bureau of labor statistics reports, 2017
      </blockquote>

    </div>
  </div>
</section>
